<!-- {{ ansible_managed }} -->
<!doctype html>
<html>
<head>
  <title>{{ html_heading }}</title>
  <style>
    body { text-align: center; padding: 10rem; font-family: "Helvetica", sans-serif; font-size: 1.2 rem; color: #333; }
    h1 { font-size: 3.6rem; }
    article { display: block; text-align: left; width: 40rem; margin: 0 auto; }
  </style>
</head>
<body>
  <main>
    <article>
      <h1>{{ html_heading }}</h1>
      <div>
        <p>{{ html_body }}</p>
      </div>
    </article>
  </main>
</body>
</html>
