# {{ ansible_managed }}
[Time]
NTP={% for item in ntp_servers %}{{ item  }} {% endfor  %}
FallbackNTP=0.pool.ntp.org 1.pool.ntp.org 2.pool.ntp.org 3.pool.ntp.org
RootDistanceMaxSec=5
PollIntervalMinSec=32
PollIntervalMaxSec=2048